body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.container {
  background: url("../img/westeros1200x800.jpg") center top no-repeat;
  position: relative;
  min-height: 768px;
}

.col-md-12 {
  margin-top: -300px
}

.profile-wrapper {
  float: left;
  text-align: center;
  position: relative;
  left: 28%;
  z-index: 500;
}

.wrapper{
  text-align: center;
  z-index: 200;
}

#winterfell-marker {
  top:100px;
  left: 23%;
}

#kings-landing-marker {
  top:600px;
  left: 32%;
}

#iron-islands-marker {
  top:400px;
  left: 10%;
}

#eyrie-marker {
  top: 385px;
  left: 31%;
}

#braavos-marker {
  top:280px;
  left: 57%;
}

.pin {
  position: absolute;
  z-index: 300;
}

.pin img{
  cursor: pointer;
}

.profile-grid {
  min-width: 450px;
  border: 1px solid black;
  min-height: 100px;
  background-color: rgba(0,0,0, 0.6);
  border-radius: 12px;
  color: white;
  display: inline-block;
  text-align: left;
  margin: 10px 0;
  padding: 10px 30px;
}

/* Responsive style fixes */

@media (max-width: 991px) {
  .profile-wrapper {
    left: 23%;
  }
}

@media (max-width: 768px) {
  .profile-wrapper {
    left: 15%;
  }
}

@media (max-width: 620px) {
  .profile-wrapper {
    left: 10%;
  }
}

@media (max-width: 560px) {
  .profile-wrapper {
    left: 0;
  }
  .container {
    padding: 0;
  }
  .profile-grid {
    min-width: 350px;
  }
}